<section class="container">
    <div class="cards__films-wrap">
        {{#each this}}
        <a href="/movie/{{id}}" class="card__item-film">
            <img class="card__img" src="https://image.tmdb.org/t/p/w220_and_h330_face//{{poster_path}}" width="274"
                height="398" />
            <h4 class="card__film-name">{{original_title}}</h4>
<<<<<<< HEAD

            {{#each genres}}
            <p class="details-film__info">{{name}}</p>
            {{/each}}
            <p class="card__film-info">{{release_date}}</p>
            <span class="card__film-rating">{{vote_average}}</span>
=======
            <p class="card__film-info">Drama, Action | {{release_date}}</p>
            <span class="card__film-rating off">{{vote_average}}</span>
>>>>>>> 0206136cce33bd4c87e55b0fb60c33cc0cb9e039
        </a>
        {{/each}}
    </div>
</section>