<div class="container">
    <div class="details-film" data-filmID='{{id}}'>
        <div class="details-film__img">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" />
        </div>
        <div class="details-film__text">
            <button class="back-home">назад</button>
            <h4 class="details-film__name">{{title}}</h4>
            <div class="details-film__stat">
                <div class="details-film__stat-name">
                    <p>Vote / Votes</p>
                    <p>Popularity</p>
                    <p>Original Title</p>
                    <p>Genre</p>
                </div>
                <div class="details-film__stat-value">
                    <div class="details-film__stat-value__vote">
                        <div class="vote">
                            <p class="vote-text">{{vote_average}}</p>
                        </div>
                        <span>/</span>
                        <div class="votes">
                            <p class="votes-text">{{vote_count}}</p>
                        </div>
                    </div>
                    <p>{{popularity}}</p>
                    <p>{{original_title}}</p>
                    <div class="ganre">
                        {{#each genres}}
                        <p class="details-film__info">{{name}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="details-film__about">
                <p class="about">About</p>
                <p class="about-text">
                    {{overview}}
                </p>
            </div>
            <div class="details-film__btn">
<<<<<<< HEAD
                <div class="details-film__btn-watched">
                    <button id="action__watched" class="btn-watched" data-name='{{id}}' data-lsKeys='watchedKey'> add to
                        Watched</button>
                </div>
                <div class="details-film__btn-queue">
                    <button id="action__queue" class="btn-queue" data-name='{{id}}' data-lsKeys='queueKey'>add to
                        queue</button>
                </div>
                <div class="details-film__btn-trailer">
                    <button class="btn-trailer" data-name='{{id}}'>movie trailer</button>
=======
                <div class="details-btn">
                    <input class="btn-watched" id='btn-watched' type="checkbox" data-id='{{id}}' data-lable="watch" />
                    <label aria-hidden="true" class="btn-watched__label" for="btn-watched"></label>
                    {{!-- <button class="btn-watched" data-id='{{id}}' data-lable="watch"> add to Watched</button> --}}
                </div>
                <div class="details-btn">
                    <input class="btn-queue" id='btn-queue' type="checkbox" data-id='{{id}}' data-lable="queue" />
                    <label aria-hidden="true" class="btn-queue__label" for="btn-queue"></label>
                    {{!-- <button class="btn-queue" data-id='{{id}}' data-lable="queue">add to queue</button> --}}
>>>>>>> b62ea9670d88ed5894c07be5ea42bad4d136c8a9
                </div>
            </div>
        </div>
    </div>
</div>