<div class="container">
    <div class="details-film" data-filmID='{{id}}'>
        <div class="details-film__img">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" />
            <div class="details-film__btn-trailer">
                <button class="btn-trailer" data-name='{{id}}'>
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="44px" height="43px"
                        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill-opacity="1"
                            stroke-opacity="0.2">
                            <path d="M1087 4032 c-829 -829 -1038 -1043 -1035 -1061 2 -17 207 183 1063
1039 855 855 1055 1060 1035 1060 -20 0 -239 -214 -1063 -1038z" />
                            <path d="M1187 3932 c-910 -910 -1138 -1143 -1135 -1161 2 -17 227 202 1163
1139 935 935 1155 1160 1135 1160 -20 0 -259 -234 -1163 -1138z" />
                            <path d="M1287 3832 c-990 -990 -1238 -1243 -1235 -1261 2 -17 246 222 1263
1239 1015 1015 1255 1260 1235 1260 -20 0 -279 -254 -1263 -1238z" />
                            <path d="M1936 4281 c-654 -654 -796 -791 -825 -798 l-36 -9 89 -69 c49 -39
101 -80 115 -92 l26 -22 -67 -1 -67 0 -3 -87 c-2 -48 -2 -129 0 -180 l3 -93
67 0 67 0 -95 -95 c-76 -77 -90 -95 -72 -95 14 0 22 -6 22 -18 0 -9 -220 -237
-500 -517 -438 -438 -527 -535 -493 -535 5 0 230 222 500 492 l493 493 0 -75
0 -75 -475 -475 c-377 -377 -474 -480 -469 -494 6 -14 98 73 475 450 l469 469
0 -75 0 -75 -441 -441 c-350 -350 -440 -446 -435 -460 6 -14 92 67 441 416
l435 435 0 -75 0 -75 -406 -406 c-322 -322 -405 -411 -400 -425 6 -14 85 60
406 381 l400 400 0 -75 0 -75 -370 -370 c-290 -291 -367 -373 -360 -385 8 -12
84 59 370 345 l360 360 0 -75 0 -75 -330 -330 c-263 -262 -327 -332 -318 -343
9 -11 75 50 330 305 l318 318 0 -75 0 -75 -285 -285 c-227 -226 -282 -287
-273 -298 9 -11 66 41 285 260 l273 273 0 -75 0 -75 -240 -240 c-191 -190
-237 -242 -228 -253 9 -11 59 34 252 227 l241 241 75 0 75 0 -278 -278 c-223
-223 -276 -281 -265 -290 11 -9 73 47 303 278 l290 290 75 0 75 0 -325 -325
c-259 -259 -322 -327 -312 -337 10 -10 81 56 350 325 l337 337 75 0 75 0 -370
-370 c-294 -294 -367 -372 -355 -380 12 -7 96 72 395 370 l380 380 75 0 75 0
-414 -414 c-333 -333 -409 -414 -395 -420 14 -5 106 81 439 414 l420 420 75 0
75 0 -450 -450 c-359 -359 -447 -452 -437 -462 10 -10 106 81 475 450 l462
462 75 0 75 0 -489 -489 c-393 -393 -484 -489 -470 -495 14 -5 121 96 514 489
l495 495 75 0 75 0 -520 -520 c-412 -413 -517 -522 -505 -530 12 -8 128 103
545 520 l530 530 75 0 75 0 -548 -548 c-301 -301 -547 -550 -547 -555 0 -35
104 62 590 548 l555 555 75 0 75 0 -580 -580 c-471 -471 -575 -580 -555 -580
20 0 148 123 605 580 l580 580 75 0 75 0 -599 -599 c-481 -481 -594 -599 -580
-605 14 -5 143 118 624 599 l605 605 75 0 75 0 -613 -613 c-336 -336 -612
-615 -612 -620 0 -35 111 69 655 613 l620 620 75 0 75 0 -620 -620 c-503 -503
-615 -620 -595 -620 20 0 156 131 645 620 l620 620 75 0 75 0 -620 -620 c-503
-503 -615 -620 -595 -620 20 0 156 131 645 620 l620 620 75 0 75 0 -620 -621
c-498 -498 -615 -620 -592 -617 41 4 2357 2322 2357 2358 0 20 -101 -76 -540
-515 l-540 -540 0 75 0 75 540 540 c425 425 540 545 540 565 0 20 -101 -76
-540 -515 l-540 -540 0 75 0 75 540 540 c425 425 540 545 540 565 0 20 -101
-76 -540 -515 l-540 -540 0 75 0 75 540 540 c473 473 568 575 533 575 -5 0
-248 -240 -540 -532 l-533 -533 0 75 0 75 525 525 c417 417 524 530 519 544
-6 14 -108 -83 -525 -500 l-519 -519 0 75 0 75 500 500 c393 393 500 505 500
525 0 20 -93 -68 -500 -475 l-500 -500 0 75 0 75 475 475 c415 415 502 510
468 510 -5 0 -218 -210 -475 -467 l-468 -468 0 74 c0 63 3 78 22 98 l21 23
-184 0 -184 0 190 190 c104 105 183 190 175 190 -8 0 151 166 355 370 295 295
367 372 357 382 -10 10 -90 -65 -395 -370 l-382 -382 -75 0 -75 0 429 429
c341 341 427 432 419 445 -7 12 -96 -72 -453 -429 l-445 -445 -45 0 -45 0
-190 -190 -190 -190 -180 0 -180 0 183 183 c100 100 182 186 182 190 0 4 -19
7 -42 7 l-43 0 140 140 c119 119 136 140 115 140 -19 0 -60 -35 -165 -140
l-140 -140 -75 0 -75 0 133 133 133 133 -198 154 c-109 85 -199 157 -201 160
-1 3 -21 4 -45 2 l-42 -4 530 531 c425 426 525 531 511 537 -14 5 -130 -105
-560 -535 l-542 -542 -65 -9 c-35 -5 -73 -10 -84 -10 -13 0 171 191 560 580
466 466 575 580 561 586 -14 6 -140 -115 -608 -583 l-590 -590 211 -165 c179
-139 216 -164 239 -160 22 3 8 -15 -83 -107 -95 -96 -106 -111 -85 -111 19 0
55 29 139 114 113 113 114 114 170 120 31 4 70 9 86 12 26 5 14 -11 -95 -120
-69 -69 -129 -126 -135 -126 -6 0 -96 -85 -200 -190 l-190 -190 -180 0 -179 0
184 188 c109 111 193 190 205 190 11 1 65 48 120 103 87 88 96 100 70 95 -19
-5 -64 -41 -125 -102 l-95 -94 -75 0 -75 0 85 85 c47 47 80 85 75 85 -6 0
-102 72 -215 160 -138 108 -213 160 -230 160 -20 0 99 124 643 668 367 367
667 670 667 675 0 35 -117 -75 -714 -672 l-679 -679 -56 -6 c-31 -4 -69 -9
-86 -12 -24 -5 109 133 678 703 389 389 707 711 707 716 0 35 -121 -79 -750
-709 -393 -393 -722 -719 -731 -722 -12 -5 37 -49 189 -167 205 -158 207 -160
252 -157 l45 4 -65 -66 c-58 -59 -62 -66 -40 -66 21 0 -8 -33 -165 -190 l-190
-190 -177 0 c-98 0 -178 3 -178 7 0 4 82 90 182 190 101 101 176 183 168 183
-8 0 2 17 25 40 38 39 38 40 14 40 -16 0 -39 -14 -64 -40 -39 -40 -40 -40
-114 -40 l-75 0 28 29 c25 26 38 30 102 36 41 4 76 11 79 15 3 4 -88 79 -200
166 l-205 159 772 772 c623 623 768 773 748 773 -20 0 -189 -165 -805 -780
-613 -613 -786 -780 -805 -780 -14 0 -50 -3 -80 -6 l-55 -6 785 786 c635 636
780 786 760 786 -20 0 -190 -165 -814 -789z m519 -1081 l-80 -80 -75 0 -75 0
71 71 c65 65 75 71 125 79 124 18 123 19 34 -70z m-855 -55 c-28 -30 -60 -33
-60 -6 0 19 11 23 69 30 10 0 6 -8 -9 -24z m2170 -675 c0 -7 -203 -10 -590
-10 l-590 0 0 -170 0 -170 590 0 c518 0 590 -2 590 -15 0 -13 -136 -15 -1185
-13 -780 2 -1186 6 -1188 13 -1 7 200 11 586 13 l587 2 0 170 0 170 -590 0
c-387 0 -590 3 -590 10 0 7 403 10 1190 10 787 0 1190 -3 1190 -10z m0 -914
c0 -11 -180 -14 -1132 -14 -623 -1 -1159 1 -1190 4 -191 19 48 24 1132 24
1002 0 1190 -2 1190 -14z" />
                            <path d="M2355 4300 c-607 -607 -745 -750 -725 -750 20 0 182 157 775 750 607
607 745 750 725 750 -20 0 -182 -157 -775 -750z" />
                            <path d="M1895 5026 c-42 -19 -1791 -1774 -1805 -1810 -6 -16 -9 -30 -7 -32 1
-2 421 415 932 926 512 512 925 930 920 930 -6 -1 -23 -7 -40 -14z" />
                            <path d="M1605 4930 c-60 -27 -1398 -1371 -1420 -1425 -12 -32 135 110 725
700 407 407 740 741 740 742 0 4 0 4 -45 -17z" />
                            <path d="M2925 4269 c-499 -500 -633 -640 -610 -635 22 5 190 167 657 634 575
574 637 641 598 642 -3 0 -293 -289 -645 -641z" />
                            <path d="M1190 4716 c-90 -61 -746 -721 -795 -801 -31 -49 45 22 414 390 248
247 451 451 451 452 0 5 -5 2 -70 -41z" />
                            <path d="M3464 4209 c-398 -398 -484 -489 -464 -489 20 0 127 102 503 478 262
262 477 480 477 483 0 37 -79 -35 -516 -472z" />
                            <path d="M3640 4185 c-355 -355 -430 -435 -410 -435 37 0 878 841 858 858 -11
9 -101 -76 -448 -423z" />
                            <path d="M3805 4150 l-379 -379 -71 -6 c-40 -4 -77 -10 -84 -14 -7 -5 63 -66
186 -162 109 -85 200 -157 201 -162 2 -4 9 -4 15 -1 7 4 -58 -64 -143 -150
-129 -130 -151 -156 -130 -156 18 0 65 41 185 160 119 118 168 160 186 160 13
0 49 3 79 6 l55 6 -165 -166 c-138 -139 -161 -166 -140 -166 19 0 67 42 195
169 93 93 182 173 197 177 26 9 18 16 -178 169 -219 170 -209 165 -299 149
-24 -5 37 61 333 358 291 292 361 367 350 376 -11 9 -90 -65 -393 -368z" />
                            <path d="M3975 4119 c-255 -255 -314 -319 -290 -313 22 4 113 89 333 308 244
243 301 305 290 314 -11 9 -78 -53 -333 -309z" />
                            <path d="M4139 4083 c-204 -205 -248 -254 -224 -249 21 5 98 75 268 245 192
191 236 240 225 249 -11 9 -65 -40 -269 -245z" />
                            <path d="M4242 3987 c-186 -186 -242 -248 -242 -267 0 -20 45 20 255 230 140
140 254 259 252 264 -2 6 -7 11 -13 13 -5 2 -118 -106 -252 -240z" />
                            <path d="M4297 3842 c-214 -214 -277 -283 -277 -302 0 -20 52 27 289 264 256
256 308 316 272 316 -3 0 -131 -125 -284 -278z" />
                            <path d="M4431 3376 c-302 -303 -382 -387 -379 -405 2 -17 75 50 392 368 309
309 387 392 379 405 -7 12 -83 -59 -392 -368z" />
                            <path d="M4462 3207 c-322 -322 -412 -418 -412 -437 0 -20 79 54 424 399 378
378 444 451 407 451 -3 0 -192 -186 -419 -413z" />
                            <path d="M562 2907 c-408 -408 -513 -518 -510 -536 2 -17 99 75 516 492 408
408 513 518 510 536 -2 17 -99 -75 -516 -492z" />
                            <path d="M572 2717 c-416 -416 -523 -528 -520 -546 2 -17 101 77 526 502 416
416 523 528 520 546 -2 17 -101 -77 -526 -502z" />
                            <path d="M2030 3175 c-50 -51 -52 -55 -29 -55 17 0 42 17 79 55 50 51 52 55
29 55 -17 0 -42 -17 -79 -55z" />
                            <path d="M587 2532 c-412 -412 -518 -523 -515 -541 2 -17 100 76 521 497 412
412 518 523 515 541 -2 17 -100 -76 -521 -497z" />
                            <path d="M608 2353 c-435 -436 -525 -533 -490 -533 4 0 229 222 500 493 392
392 493 498 490 516 -2 17 -96 -72 -500 -476z" />
                            <path d="M3985 1130 c-879 -879 -1085 -1090 -1065 -1090 37 0 2163 2127 2158
2159 -2 17 -213 -189 -1093 -1069z" />
                            <path d="M4085 1028 c-743 -743 -953 -959 -930 -954 23 5 261 238 957 933 824
824 954 960 936 979 -2 2 -436 -429 -963 -958z" />
                            <path d="M4185 930 c-636 -636 -773 -777 -743 -768 28 8 195 170 771 747 517
518 738 746 745 769 6 17 10 32 9 32 -1 0 -353 -351 -782 -780z" />
                            <path d="M4285 829 c-426 -427 -510 -516 -467 -493 67 37 926 895 967 967 15
26 25 47 23 47 -2 0 -237 -235 -523 -521z" />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="details-film__text">
            <button class="back-home">назад</button>
            <h4 class="details-film__name">{{title}}</h4>
            <div class="details-film__stat">
                <div class="details-film__stat-name">
                    <p>Vote / Votes</p>
                    <p>Popularity</p>
                    <p>Original Title</p>
                    <p>Genre</p>
                </div>
                <div class="details-film__stat-value">
                    <div class="details-film__stat-value__vote">
                        <div class="vote">
                            <p class="vote-text">{{vote_average}}</p>
                        </div>
                        <span>/</span>
                        <div class="votes">
                            <p class="votes-text">{{vote_count}}</p>
                        </div>
                    </div>
                    <p>{{popularity}}</p>
                    <p>{{original_title}}</p>
                    <div class="ganre">
                        {{#each genres}}
                        <p class="details-film__info">{{name}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="details-film__about">
                <p class="about">About</p>
                <p class="about-text">
                    {{overview}}
                </p>
            </div>
            <div class="details-film__btn">
                <div class="details-btn">
                    <input class="btn-watched" id='btn-watched' type="checkbox" data-id='{{id}}' data-lable="watch" />
                    <label aria-hidden="true" class="btn-watched__label" for="btn-watched"></label>
                </div>
                <div class="details-btn">
                    <input class="btn-queue" id='btn-queue' type="checkbox" data-id='{{id}}' data-lable="queue" />
                    <label aria-hidden="true" class="btn-queue__label" for="btn-queue"></label>
                </div>

            </div>
        </div>
    </div>
</div>